<div class="container">
  <div class="row">
    <div class="col-12">
      <formulario (productoCreado)="onProductoCreado($event)"></formulario>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <lista-productos [productos]="productosAComprar" [comprados]="false" (borrarProducto)="onBorrarProducto($event)">
      </lista-productos>
    </div>
    <div class="col-6">
      <lista-productos [productos]="productosComprados" [comprados]="true"
        (borrarProducto)="onBorrarProductoV2($event)"></lista-productos>
    </div>
  </div>
</div>